
.content {
    display: flex;
    flex-direction: column;
    padding: 2rem 14vw;
    gap: 1rem;
}

.content form {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: .4rem;
}

.content form input {
    padding: .4rem;
}

#container {
    display: flex;
    align-items: center;
}